<!DOCTYPE html>
<html lang="en">
<head>

     <title>IIC - Troubleshoot</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

     <link rel="stylesheet" href="css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/styles.css">
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

  <!-- MENU BAR -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="index.html">IIC-Troubleshoot</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul>
                <li class="nav-item">
                    <a href="index.html" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">Go back</a>
                </li>
            </ul>


            <!-- <ul class="social-icon ml-lg-3">
                <li><a href="#" class="fab fa-youtube"></a></li>
                <li><a href="#" class="fab fa-linkedin-in"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
            </ul> -->
        </div>

    </div>
</nav>

  <section class="janEvent section" id="janEvent">
    <div class="container">
        <h1>Thankyou for submitting</h1>
        <h3>You're response has been recorded</h3>
    </div>
    </section>

    <!-- FOOTER -->
    <footer class="site-footer">
      <div class="container">
           <div class="row">

                <div class="ml-auto col-lg-4 col-md-5">
                    <p class="copyright-text">Copyright &copy; 2022 IIC JSSSTU
                    
                    <br>Designed by: IIC JSSSTU TEAM</p>
                </div>

                <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                    <p class="mr-4">
                      email:
                        <i class="fa fa-envelope-o mr-1"></i>
                        <a href="#">iic@jssstuniv.in</a>
                        
                    </p>
                    <ul class="social-icon ml-lg-3">
                      
                      <li><a href="https://www.youtube.com/channel/UC6lFFQTnDfZPdXkLJtVgb_w" class="fab fa-youtube"></a></li>
                      <li><a href="https://www.linkedin.com/company/institution-s-innovation-council-jssstu/" class="fab fa-linkedin-in"></a></li>
                      <li><a href="https://www.instagram.com/iic_jssstu/" class="fab fa-instagram"></a></li></ul>

                

                    <!-- <p><i class="fa fa-phone mr-1"></i> 010-020-0840</p> -->
                </div>
                
           </div>
      </div>
 </footer>

    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
</body>
</html>
